button {
  display: inline-block;
  /*border: none;*/
  /*padding: 1rem 2rem;*/
  margin: 0;
  text-decoration: none;
background: transparent;
  transition: all .7s ease-out;
  border: 1px solid white;
  padding: 7px 7px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  color: yellow;
  transition: all .3s ease-out;
  border: 1px solid yellow;
}

button:active {
  transform: scale(0.99);
}

button.navigate {
  width: 125px;
  margin: 1rem;
}
